<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Codeforces Mega API</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        background-color: #f0f2f5;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
      }

      .container {
        text-align: center;
        max-width: 800px; /* Increased max-width */
        width: 100%;
        padding: 40px; /* Increased padding */
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        border-radius: 8px;
        margin: 20px;
      }

      .header {
        font-size: 3rem; /* Increased font size */
        color: #333;
        margin-bottom: 30px;
      }

      h1 {
        font-size: 2rem;
        color: #333;
        margin: 20px 0;
      }

      .link {
        display: inline-block;
        padding: 15px 25px;
        margin: 10px;
        font-size: 1.2rem;
        text-decoration: none;
        color: #fff;
        background-color: #007bff;
        border-radius: 5px;
        transition: background-color 0.3s, transform 0.3s;
      }

      .link:hover {
        background-color: #0056b3;
        transform: scale(1.05);
      }

      .link:active {
        background-color: #00408d;
      }

      @media (max-width: 600px) {
        .link {
          font-size: 1rem;
          padding: 10px 20px;
        }
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1 class="header">Codeforces Mega API</h1>
      <h1>
        <a href="/user-profile" class="link">User Profile</a>
      </h1>
      <h1>
        <a href="/user-submissions" class="link">User Submissions</a>
      </h1>
      <h1>
        <a href="/user-blogs" class="link">User Blogs</a>
      </h1>
      <h1>
        <a href="/user-rating" class="link">User Rating</a>
      </h1>
    </div>
  </body>
</html>
